* 
  box-sizing border-box
  position   relative

body
  background #fafafa
  color #222
  margin 0

body, input, textarea, button, table, select
  font-family Open Sans
  font-size 14px
  line-height 1.7142857

textarea
  padding 0 6px

button
  background #ccc
  font-weight bold
  border none

.status
  position fixed
  top 0
  bottom 0
  right 0
  width 240px
  padding 6px
  z-index 1
  background #ddd
  &Item
    font-size 0.87em
  input[type=text], input[type=password]
    border 1px solid #aaa
    padding 0 3px
    width 100%
  input[type=password]
    border-top none
    font-size 0.7em

.content
  padding-right 240px

.replyForm, .submitForm
  clear both
  padding 6px
  textarea, button
    height 36px
    vertical-align top

.mediaUploader
  max-width 200px
  font-size 0.7em
  display inline-block
  cursor pointer
  border-right none
  text-transform uppercase
  input[type=file]
    display none
  img
    max-width 100%
    max-height 100%
  &Add
    line-height 36px
    border 1px dotted #aaa
    border-right none
    line-height 34px
    padding 0 5px 0 6px
  &Progress, &Cancel
    position absolute
    z-index 1
    padding 3px 6px
    border-radius 1px
    font-weight bold
    color #fff
  &Progress
    background #2c3
  &Cancel
    background #c32
    top 6px
    right 6px
    display none
  &:hover &Cancel
    display block

.thread
  padding 6px
  border-top 1px solid #ccc
  clear both

.post
  clear both
  padding-left 12px

  &:first-of-type
    padding-left 0

  &UserPic
    margin-right 3px
    vertical-align top
    float left

  &UserName
    font-weight bold
    margin-right 3px
    vertical-align top

  &Date, &TripCode
    color #777
    font-size 0.87em

  &Date
    text-decoration none
    &:hover
      text-decoration underline

  &Text
    white-space pre-line

  &Media
    float left
    max-width 300px
    margin-right 6px
    > img
      max-width 100%
      max-height 100%
